$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$height: 150px;
$width: 150px;
$min-width: 450px;
$min-height: 150px;
$margin-left: 0 auto;
$min-page-width: 1201px;

body {
  background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

main {
  height: 500px;
  margin-top: 50px;
}

nav {
  position: fixed;
}

.modal-content {
  width: 350px;
  position: relative;
  left: 115px;
  color: whitesmoke;
  text-align: center;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.handlebarModal {
  width: 500px;
}

.titleHead {
  border: solid;
  width: 50%;
  margin: 50px 25%;
  padding: 25px;
  box-shadow: 10px 10px;
  text-shadow: 1px 1px;
  background-color: cyan;
}

.overlayHead {
  border: solid;
  width: 50%;
  margin: 50px 25%;
  padding: 15px;
  box-shadow: 10px 10px;
  text-shadow: 1px 1px;
  background-color: cyan;
}

.topRowButton {
  float: left;
  color: black;
  border: solid;
  background-color: cyan;
}

.topRowButton:hover,
.topRowButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover),
inset 0 -3.25em 0 0 var(--hover);
  transform: translateY(-0.25em);
 }

 .frontButton {
   color: black;
   height: 48px;
   width: 400px;
   border: solid;
   padding: 15px;
   box-shadow: 10px 10px;
   background-color: cyan;
 }

 .frontButton:hover,
 .frontButton:focus {
   box-shadow: 0 0.5em 0.5em -0.4em var(--hover),
 inset 0 -3.25em 0 0 var(--hover);
   transform: translateY(-0.25em);
  }

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

$colors: (
  topRowButton: #00FFFF,
  frontButton: #00FFFF
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: $color;
    // --hover: adjust-hue($color, 5deg);
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: black;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
//  3d button effect on modals
// %test {
//   position: absolute;
//     content: '';
//     transition: all .5s;
// }
//
// .btn-danger {
//     display: inline-block;
//     padding: 20px 40px;
//     color: white;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     vertical-align: middle;
//     font-family: 'Rubik One', sans-serif;
//     text-decoration: none;
//     font-size: 4vw;
//     transition: all .5s;
//     background-color: #3498db;
//
//     &::before {
//     @extend %test;
//         bottom: -15px;
//         height: 15px;
//         width: 100%;
//         left: 8px;
//         transform: skewX(45deg);
//         background-color: darken(#3498db, 20%);
//     }
//
//     &::after {
//         @extend %test;
//         right: -15px;
//         height: 100%;
//         width: 15px;
//         bottom: -8px;
//         transform: skewY(45deg);
//         background-color: darken(#3498db, 30%);
//     }
//
//     &:active {
//         margin-left: 10px;
//         margin-top: 10px;
//         &::before {
//             bottom: -5px;
//             height: 5px;
//             left: 3px;
//         }
//
//     &::after {
//             right: -5px;
//             width: 5px;
//             bottom: -3px;
//         }
//     }
// }
